edu-social-backend/build/*
!edu-social-backend/build/.gitkeep
cmake-build-*/
out/
edu-social-backend/database/app.db
.vscode/
third_party/crow/
third_party/sqlite/
*.obj
*.o
*.exe
*.pdb
*.ilk
*.log
*.cache
