build/*
!build/.gitkeep
cmake-build-*/
out/
database/app.db
data/*
!data/.gitkeep
.vscode/
coverage/
coverage-report/
report/
build/docs/
*.gcda
*.gcno
*.gcov
*.obj
*.o
*.exe
*.pdb
*.ilk
*.log
*.cache
